*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clock{
    background-color: rgb(195, 195, 222);
    padding: 10px;
    border-radius: 20px;
    width: 20%
}
body{
    height: 100vh;
   
   
}
.container{
    /* background-color: red; */
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.material-symbols-outlined{
    color: rgb(18, 122, 219);
    width: 20px;
    height: 10px;
}